<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Press+Start+2P&family=Smooch+Sans:wght@100&family=Teko:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div id="container">
        <div id="background">
            <nav class="navbar navbar-expand-lg" id="position">
                <p id="logo">TRAVEL ENTHUSIAST</p>
                <a href="" id="offer">Special Offers</a>
                <a href="" id="about">About Us</a>
                <a href="" id="discover">Discover</a>
                <button id="signup">Sign Up</button>
                <button id="login">Log In</button>
            </nav>
            <img src="/static/images/nightime.jpeg" alt="main image" id="image">
            <p id="text">Take a trip to the most beautiful places in the world</p>
            <div id="travelbox">
                <img src="/static/images/search.jpeg" alt="search" id="search">
                <p id="destination">Destination</p>
                <p id="location">Monaco, Italy</p>
                <img src="/static/images/money.png" alt="money" id="money">
                <p id="price">Average Price</p>
                <p id="cost">$400 - $750</p>
                <img src="/static/images/date.png" alt="date" id="calendar">
                <p id="date">Date</p>
                <p id="day">July 1st - July 18th, 2022</p>
                <button id="button">Explore Now</button>
            </div>
        <div id="transparent">
            <div id="box1">
                <div id="container1">
                    <p id="boxtext2-1"> Monaco, Italy</p> 
                    <img src="/static/images/search.jpeg" alt="search" id="search2">
                </div>  
                <div id="container2">
                    <p id="boxtext2-2">2 Beds / 1.5 Baths</p>
                    <img src="/static/images/hotel.png" alt="date" id="hotel2">
                </div>
                <div id="container3">
                    <img src="/static/images/date.png" alt="date" id="calendar2">
                    <p id="boxtext2-3">July 1st - July 18th, 2022</p>
                </div>
                <button id="book1">Book Hotel</button>
                <!-- <img src="/static/images/hotel.png" alt="hotel" id="hotels"> -->
            </div>
            <div id="box2">
                <div id="container1">
                    <p id="boxtext2-1"> Venice, Italy</p> 
                    <img src="/static/images/search.jpeg" alt="search" id="search2">
                </div>  
                <div id="container2">
                    <p id="boxtext2-2">Ristorante Wistèria</p>
                    <img src="/static/images/hotel.png" alt="date" id="hotel2">
                </div>
                <div id="container3">
                    <img src="/static/images/date.png" alt="date" id="calendar2">
                    <p id="boxtext2-3">July 7th / 8:30 PM </p>
                </div>
                <button id="book2">Find Restaurant</button>
                <!-- <img src="/static/images/airplane.png" alt="airplane" id="airplane"> -->
            </div>
            <div id="box3">
                <div id="container1">
                    <p id="boxtext2-1"> Venice, Italy</p> 
                    <img src="/static/images/search.jpeg" alt="search" id="search2">
                </div>  
                <div id="container2">
                    <p id="boxtext2-2">Hertz</p>
                    <img src="/static/images/car.png" alt="date" id="hotel2" class="car">
                </div>
                <div id="container3">
                    <img src="/static/images/date.png" alt="date" id="calendar2">
                    <p id="boxtext2-3">July 1th / 2:30 PM </p>
                </div>
                <button id="book3">Book Car Rental</button>
                <!-- <img src="/static/images/car.png" alt="car" id="car"> -->
            </div>
        </div>
        <div id="section1">
            <h1 id="popular">Popular Locations</h1>
            <p id="popular1">Book your dream vacation with our certified local guides</p>
            <div>
                <img src="/static/images/maui.jpeg" alt="1" id="maui">
                <p id="mauitext">Maui, Hawaii</p>
            </div> 
            <div>
                <img src="/static/images/bali.jpeg" alt="2" id="bali">
                <p id="balitext">Bali, Indonesia</p>
            </div>
            <div>
                <img src="/static/images/rome.jpeg" alt="3" id="rome">
                <p id="rometext">Rome, Italy</p>
            </div>
            <div>
                <img src="/static/images/france.jpeg" alt="4" id="france">
                <p id="paristext">Paris, France</p>
            </div>
            <div>
                <img src="/static/images/japan.jpeg" alt="5" id="japan">
                <p id="japantext">Mount Fuji, Japan</p>
            </div>
            <div>
                <img src="/static/images/sanfrancisco.jpeg" alt="6" id="sanfrancisco">
                <p id="sanfranciscotext">San Francisco, California</p>
            </div>
        </div>
        <div id="guides">
            <h1 id="guidetext">Our Guides</h1>
            <p id="guidetext2">Our certified and knowledgeable</p>
            <p id="guidetext3">guides live and breathe the adventure life.</p>
            <div id="guide1">
                <img src="/static/images/2.jpeg" alt="2" id="two">
                <p id="text2">Jason Bog</p>
                <p id="text2-1">Extreme Guide</p>
                <img src="/static/images/facebook.png" alt="fb" id="fb">
                <img src="/static/images/twitter.webp" alt="insta" id="insta">
                <img src="/static/images/linked.webp" alt="linked" id="linked">
            </div>
            <div id="guide2">
                <img src="/static/images/1.jpeg" alt="1" id="one">
                <p id="text1">Heather lent</p>
                <p id="text1-1">City Guide</p>
                <img src="/static/images/facebook.png" alt="fb" id="fb">
                <img src="/static/images/twitter.webp" alt="insta" id="insta">
                <img src="/static/images/linked.webp" alt="linked" id="linked">
            </div>
            <div id="guide3">
                <img src="/static/images/3.webp" alt="3" id="three">
                <p id="text3">Jim Swan</p>
                <p id="text3-1">Adventure Guide</p>
                <img src="/static/images/facebook.png" alt="fb" id="fb">
                <img src="/static/images/twitter.webp" alt="insta" id="insta">
                <img src="/static/images/linked.webp" alt="linked" id="linked">
            </div>
            <div id="guide4">
                <img src="/static/images/4.jpeg" alt="4" id="four">
                <p id="text4">Mary Jin</p>
                <p id="text4-1">Boat Guide</p>
                <img src="/static/images/facebook.png" alt="fb" id="fb">
                <img src="/static/images/twitter.webp" alt="insta" id="insta">
                <img src="/static/images/linked.webp" alt="linked" id="linked">
            </div>
        </div>
</div>
</body>
</html>